:root {
    --white: #e0e0e0;
    --black: #0a0a0a;
}

* {
    margin: 0;
    padding: 0;
    text-transform: lowercase;
}

body {
    font-family: 'VT323', monospace;
    background-color: var(--black);
    color: var(--white);
    font-size: 22px;
    height: 100vh;
    overflow: hidden;
}

.main {
    min-height: 95%;
    /*background-color: rgb(58, 58, 22);*/
    margin: 0;
    display: flex;
    /* 
    flex-direction: row;
    flex-wrap: nowrap; 
    flex-flow is a shorthand for flex-direction and flex-wrap */
    flex-flow: row nowrap; 
    justify-content: center; /*x*/
    align-items: center; /*y*/
}

.item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 1%;
}

.item.a {
    /*background-color: blue;*/
    padding: 1% 1% 1%;
    width: 20%;
}

.name {
    font-size: 160%;
    /*background-color: rgb(131, 44, 44);*/
    margin: 1% auto;
    padding: 1%;
    width: 75%;
    text-align: center;
}

.bio {
    /*background-color: rgb(187, 99, 17);*/
    margin: 1% auto;
    padding: 1%;
    width: 75%;
    text-align: center;
}

.item.b {
    border-left: 3px solid var(--white);
    min-height: 25vh;
    margin: 0 1.5%;
    padding-right: 1%;
}

.item.c {
    /*background-color: green;*/
    margin: 5%;
    width: 70%;
}

.project-name {
    margin: 2% auto;
    padding: 0 1%;
    /*background-color: chocolate;*/
    font-size: 140%;
    text-align: center;
    width: 40%
}

.img {
    margin: 0 auto;
}

.img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.description {
    margin: 1% auto;
    padding: 0 1%;
    /*background-color: rgb(16, 53, 40);*/
    width: 35%;
    text-align: center;
}

.item.d {
    /*border: 2px solid red;*/
    margin: 1%;
    padding: 1%
}

a {
    color: #e0e0e0;
}

a:hover {
    background-color: #e0e0e0;
    color: #0a0a0a;
}

@media screen and (max-width: 1079px), screen and (max-height: 719px) {
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: var(--black) !important;
      overflow: hidden;
    }
  
    body::before {
      content: "Mobile version not ready yet, please be patient";
      color: var(--white);
      font-size: 24px;
      padding: 20px;
    }
  
    /* Hide all other elements */
    body * {
      display: none !important;
    }
  }